.container {
	height: 100%;
	margin: 0;
	padding: 0;
}
.image-responsive {
	padding-top: 10%;
	padding-bottom: 10%;
	display: block;
	margin: 0 auto;
	max-height: 100vh;
	max-width: 100%;
	filter: grayscale(100%);
}
.btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	background-color: none;
  	color: white;
  	font-size: 16px;
  	
  	border: none;
  	
  	text-align: center;
}