div {
	height: 100%;
	margin: 0;
	padding: 0;
}
img {
	padding-top: 10%;
	padding-bottom: 10%;
	display: block;
	margin: 0 auto;
	max-height: 100vh;
	max-width: 100%;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}